* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}

html, body , #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

header {
  background-color: #3f2d1b;
  padding: 0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-right: 47rem;
}

h3 {
  text-align: center;
  color: #3f2d1b;
}

main {
  flex-grow: 1;
  padding: 0.5rem;
}

footer {
  background-color: #6B695F;
  padding: 0.2rem;
  color: white;
  font-size: 0.75rem;
}
